<!DOCTYPE html>
<html>
   <head>
      <%- partial('partials/header.ejs') %>
   </head>
   <body>
      <div id="wrapper">         
        <header class="login-header">
          <div class="logo">
            Cannabidata
          </div>
        </header>
         <section class="login">
           <%- body %>
         </section>
         <footer>
         </footer>
      </div>
   <%- partial('partials/footer.ejs') %>
   </body>
</html>